description = "Navigation bar"
==
<section id="navbar" class="m-b-3">
    <nav class="navbar-top">
        <div class="container">
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item{{ this.page.baseFileName == 'home' ? ' active' }}">
					<a class="nav-link" href="{{ 'home'|page }}">LOGIN</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'home' ? ' active' }}">
					<a class="nav-link" href="{{ 'home'|page }}">REGISTER</a>
				</li>
            </ul>
        </div>
    </nav>
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ 'home'|page }}"><img src="http://localhost/october/themes/hambern-hambern-blank-bootstrap-4/assets/images/header.png" alt="" height="40"></a>
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item{{ this.page.baseFileName == 'home' ? ' active' }}">
					<a class="nav-link" href="{{ 'home'|page }}">HOME</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'about' ? ' active' }}">
					<a class="nav-link" href="{{ 'about'|page }}">NEWS</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'contact' ? ' active' }}">
					<a class="nav-link" href="{{ 'contact'|page }}">GAMES</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'blog' ? ' active' }}">
					<a class="nav-link" href="{{ 'blog'|page }}">REWARD</a>
				</li>
			</ul>
		</div>
	</nav>
</section>