title = "news-view"
url = "/news/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "contact"
==
<div class="container top-section">
{% set post = blogPost.post %}
<h2>{{ post.title }}</h2>
<small class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</small>
{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
        <div class="card mb-3 banner" >
            <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" class="card-img">
            <div class="card-img-overlay"></div>
        </div>
        {% endfor %}
    </div>
{% endif %}
<div class="content">{{ post.content_html|raw }}</div>

</div>