==
<footer class="text-white-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{{'assets/img/logo/header.png'|theme}}" width="60%" class="mb-3">
          <p>JOINESPORTS merupakan portal media yang menyajikan event,update turnamen, profil tim, match analysis, prediksi, dan masih banyak lagi. Gabung JOINESPORTS sekarang dan dapatkan berbagai benefit!</p>
        </div>
        <div class="col-lg-6 ml-auto text-lg-right">
          <a href="">HOME</a>
          <a href="">NEWS</a>
          <a href="">ABOUT</a>
          <a href="">CONTACT</a>
          <a href="">PARTNERS</a>
          <br>
          <div class="social d-flex justify-content-lg-end">
            <a href="#" class="mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom d-flex flex-row text-lg-left text-sm-center">
        <div class="container">
          <p>Copyright © JOINESPORTS. All Right Reserved</p>
        </div>
      </div>
  </footer>
