title = "Home"
url = "/"
layout = "default"
description = "home"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
categoryPage = "news"
postPage = "news-view"

[contactform]
==
<header class="landing d-flex flex-column">
    <div class="container flex-grow-1">
      <div class="col-lg-6 ml-n3">
        <h1>JOIN THE BIGGEST ESPORTS COMMUNITY IN INDONESIA</h1>
        <a href="#about" class="btn btn-primary js-scroll-trigger mt-4">LEARN MORE</a>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="container d-flex flex-column mt-auto">
      <div class="d-flex flex-row justify-content-between portal-list mb-4">
        <div class="p-2">
          <a href="{{ 'pubg'|page }}"><img src="{{'assets/img/games/pubg.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
        <div class="p-2">
          <a href="{{ 'dota'|page }}"><img src="{{'assets/img/games/dota.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
        <div class="p-2">
          <a href="{{ 'ml'|page }}"><img src="{{'assets/img/games/ml.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
        <div class="p-2">
          <a href="{{ 'ff'|page }}"><img src="{{'assets/img/games/ff.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
        <div class="p-2">
          <a href="{{ 'pubgm'|page }}"><img src="{{'assets/img/games/pubgm.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
        <div class="p-2">
          <a href="{{ 'chess'|page }}"><img src="{{'assets/img/games/chess.png'|theme}}" alt="" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </header>
  <section class="news">
    <div class="container">
      <h5 class="mb-3">LATEST NEWS</h5>
      <div class="row">
      {% set posts = blogPosts.posts %}
            {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                  <div class="card bg-dark text-white mb-3">
                    {% if post.featured_images.count %}
                    {% for image in post.featured_images|slice(0, 1) %}
                          <img class="card-img" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
                    {% endfor %}
                    {% endif %}
                    <div class="card-img-overlay d-flex flex-column">
                      <small class="card-text">{{ post.published_at|date('M d, Y. g:i') }}</small>
                      <h4 class="card-title mt-auto"><a class="text-white" href="{{ post.url }}">{{ post.title }}</a></h4>
                    </div>
                  </div>
                </div>
            {% else %}
                <p class="ml-3">No Post</p>
            {% endfor %}
        
        {% if posts.lastPage > 1 %}
            <ul class="pagination">
                {% if posts.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                {% endif %}
        
                {% for page in 1..posts.lastPage %}
                    <li class="{{ posts.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
        
                {% if posts.lastPage > posts.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        {% endif %}
      </div>
    </div>
  </section>
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 mx-auto text-center">
          <h2 class="text-white mb-5">Contact and give us feedback!</h2>
          {% component 'contactform' %}
        </div>
      </div>
    </div>
  </section>